#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_DLL
#define VER_FILESUBTYPE             VFT_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "DirectInput Virtual Joystick Multiplexer"
#define VER_INTERNALNAME_STR        "vjoy_um.dll"

#include "common.ver"
